@import 'font.css';

.corpo {
    overflow: auto;
    height: calc(100% - 70px);
    padding: 10px;
}

.titulo-programa {
    font-family: futura;
    font-size: 50px;
}

.descricao-programa {
    padding: 10px;
    width: 100%;
    font-family: monospace;
    border-radius: 5px;
}

.container-produto {
    height: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 25px;
    padding: 10px;
    background-color: #001111;
    border-radius: 5px;
    color: white;
}

.container-produto:hover { height: 50%; }

.titulo-produto {
    font-size: 25px;
}

.descricao-produto {
    height: 80%;
    width: 80%;
    display: inline-flex;
}

.code {
    padding: 10px;
    width: 100%;
    font-family: monospace;
    background-color: #EEE;
    border-radius: 5px;
}

.btn-std {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 150px;
    height: 50px;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #333;
    -webkit-box-shadow: 2px 2px 0 #333;
    -moz-box-shadow: 2px 2px 0 #333;
}

.btn-std:hover {
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 5px;
    transition-duration: 0.3s;
    box-shadow: 5px 5px 0 #333;
    -webkit-box-shadow: 5px 5px 0 #333;
    -moz-box-shadow: 5px 5px 0 #333;
}




