@import 'font.css';

.corpo {
    height: calc(100% - 70px);
    padding: 10px;
}

.titulo-programa {
    font-family: futura;
    font-size: 50px;
}

.descricao-programa {
    padding: 10px;
    width: 100%;
    font-family: monospace;
    border-radius: 5px;
}

.code {
    padding: 10px;
    width: 100%;
    font-family: monospace;
    background-color: #EEE;
    border-radius: 5px;
}

.btn-std {
    margin-top: 10px;
    margin-right: 10px;
    width: 130px;
    height: 30px;
    border-radius: 2px;
    box-shadow: 2px 2px 0 #333;
    -webkit-box-shadow: 2px 2px 0 #333;
    -moz-box-shadow: 2px 2px 0 #333;
}

.btn-std:hover {
    transition-duration: 0.3s;
    box-shadow: 5px 5px 0 #333;
    -webkit-box-shadow: 5px 5px 0 #333;
    -moz-box-shadow: 5px 5px 0 #333;
}




